<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" th:href="@{/productStyle.css}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>

<div class="products" th:each="product: ${products}">
  <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getName()}">product</a>
</div>
</body>
</html>