body {
    font-family: sans-serif;
    background-color: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #222222);
    font-size: 16px;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);


}



a {
    color: var(--tg-theme-link-color, #2678b6);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(81, 197, 81);
    border-radius: 10px;
    color: rgb(250, 250, 250);
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
    position: relative;
    margin-top: 6px;
    margin-bottom: 10px;
}

.btn:hover {
    background: rgb(142, 230, 149);
    color: black;
}


button[disabled] {
    opacity: 0.6;
    cursor: auto;
    pointer-events: none;
}

button.close_btn {
    /*position: fixed;*/
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    margin: 0;
    padding: 16px 20px;
    text-transform: uppercase;
}

.product {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img {
    border-radius: 20px;
    margin: 10px;
}

.img:hover {
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

#about{
    display: flex;
    
}



@media(max-width: 576px){
    .product{
        display: flex;
        justify-content: center;
    }
}